* {
    margin: 0;
    padding: 0;
}
.header {
   background-color:rgb(66,134,134);
    padding: 15px 50px;
}
.nav {
    display: inline-block;
    width: 93%;
    vertical-align: top;
    margin-top: 2.5%;
}
.nav ul {
    padding-left: 0;
    text-align: justify;
}
.nav .nav_list li {
    list-style-type: none;
    display: inline-block;
    width: 16.6%;
    margin-left: -16px;
    text-align: center;
}
.nav_list a {
    text-decoration: none;
    color: #e8f1f0;
    text-transform: uppercase;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1.5px;
}
#img-logo {
    width: 6%;
}
.nav_list li a[data-type="Blog"] {
    color: #d09f5d
}
.nav_list a:hover {
    color: #c1e050;
}
section {
    width: 33%;
    height: 450px;
    display: inline-block;
    text-align: center;
    margin-top: 20px 15px;
}